/* ==============basic setup start======================= */
*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h1{
    color:#fff;
    font-size: 50px;
    font-weight: 600;
    margin: 20px 0 ;
}

hr{
    background: rgba(255, 255, 255, 0.089);
}
p{
    line-height: 25px;
}
span{
    color:#FF0000;
}
a{
    text-decoration: none;
}
.btn{
  padding:15px 30px;
  background:#FF0000;
  color:#fff;
  font-size: 20px;
  border-radius: 10px;

}
.btn:hover{
    background-color: transparent;
    border:1px solid #fff;
    color:#fff;
}

/* =====================basic setup end ============== */
/* =====================banner part desing======================= */
header{
    width: 100%;
    padding:2% 10%;
}
.banner{
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.5),rgba(27, 23, 23, 0.274)), url("resources/Banner\ Image.png");
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 10px;
    text-align: center;
   
}
.banner .banner-text{
   padding-top: 15%;
}
.banner h2{
    color:#fff;
}
/* ====================main part start====================== */
main{
    width: 100%;
    padding:0 10%;
}

/* ==========new year part design================= */
.new-year{
    background-color: #fff;
    text-align: center;
    padding: 2% 0 5%;
}
.new-year .text-box-year{
    padding:1% 0;
}
.new-year .text-box h2{
    color:black;
}


/* ===================welcome section design============= */
.welcome{
    height: 70vh;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.473),rgba(0, 0, 128, 0.548),rgba(255, 255, 0, 0.555)),url("resources/Vectorrr.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#fff;
    border-radius: 10px;
    padding:3% 0;
}
.welcome .wel-image-box{
    margin: 0 10%;
}
.welcome .welcome-box{
    padding: 0 15%;
}
.welcome h2{
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.welcome p{
    margin-bottom:50px;
}
/* ==================================bonus section design start=========================== */
.bonus{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bonus .bonus-col-img{
    padding:10%;
}
.bonus-col-img-text p{
    margin-bottom:30px ;
}
.bonus-col-img img{
    padding:20px;
    border:8px solid #FF0000;
    border-radius: 50%;
}
.bonus-col-text h2{
    margin: 20px 0;
    font-size: 30px;
    text-transform: capitalize;
}
.bonus-col-img img:hover{
    box-shadow: 2px 2px 1px rgb(15, 15, 15),-2px -2px 1px rgb(15, 15, 15);
}
/* ========================holiday section design==================== */
.holiday{
 width:100%;
}
.holiday .text-box{
    text-align: center;
    margin: 20px 15%;

}
.text-box h1{
    color:#000;
}
.holiday .holiday-img-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("resources/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size:contain;
    width: 100%;
   margin: 7% 0;
}
.holiday-img-box .col-2{
    display: flex;
    margin-top:-290px ;
}
.col-2 .discount{
    margin-right: -120px;
    width: 300px;
    height: 300px;
    z-index: 1;
}
.holiday-img-box{
   
}













/* ====================gallary section start=================== */

.gallary .gallary-box{
 padding:5% 0;
 display: flex;
 flex-wrap: wrap;
 justify-content:space-between;
 align-items: center;

}
.gallary .gallary-text{
    padding:5% 0 2%;
}
.gallary-text h2{
    font-size: 40px;
    margin: 20px 0;
}
.gallary .gallary-box img{
    margin-bottom: 50px;
    border-radius: 15px;
    width: 420px;
    height: 420px;
    box-shadow: 2px 2px 5px black;
}
.gallary .gallary-box img:hover{
    border:2px solid #0000;
    border-radius: 15px;
}
/* =======================Newsletter form design===================== */
.newletter{
    background-color: #FFF2F2;
    height: 60vh;
    margin: 5% 0;
    border-radius: 10px;
    padding:4% 20%;
}
.newletter .subscribe{
    text-align: center;
}
.newletter .subscribe h1{
    color:#000;
    font-size: 40px;
}
.newletter .subscribe img{
    width: 100px;
    height: 100px;
}
.newletter form{
    margin:30px 0;
    display: flex;
    align-items: center;
    padding:0 15%;
}
form input[type="email"]{
    padding:12px 55px;
    width: 100%;
    outline: none;
    border: none;
    border-top-left-radius:30px;
    border-bottom-left-radius: 30px; 
    font-size: 20px;
}
form input[type="submit"]{
    outline: none;
    border:none;
    padding:12px 20px;
    background-color: #FF0000;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
/* ==================footer start================== */
footer{
    background-color: #070211;
    width:100%;
    padding:0 10%;
    color:#fff;
}
.footer-box .text-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:4% 0 1%;
}
.footer-box .text-box .icon-box{
    display: flex;
    margin:15px 0;
}
.footer-box .text-box .icon-box img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.footer-box .social-box{
    text-align: center;
    padding:2% 0;
}
.footer-box .social-box img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}
.footer-box .down-box{
    display: flex;
    justify-content: space-between;
    padding: 2% 0 4%;
}
